<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWD Login </title>
    <style>
        body {
            background-color: #f0f0f0;
            /* light grey */
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h1 {
            color: #3498db;
            /* light blue */
        }

        form {
            max-width: 300px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            /* white */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
            /* dark grey */
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            /* light grey */
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #3498db;
            /* light blue */
            color: #fff;
            /* white */
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #207bb2;
            /* darker blue on hover */
        }
    </style>
</head>

<body>
    <h1>Secure Web Development App</h1>
      <% if (messages.error) { %>
        <%= messages.error %>
            <% } %>
    
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <a href="/register">Register</a>
</body>
</html>

