<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWD Login </title>
    <style>
        body {
            background-color: #f0f0f0;
            /* light grey */
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h1 {
            color: #3498db;
            /* light blue */
        }

        form {
            max-width: 300px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            /* white */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
            /* dark grey */
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            /* light grey */
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #3498db;
            /* light blue */
            color: #fff;
            /* white */
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #207bb2;
            /* darker blue on hover */
        }
    </style>
</head>

<body>
    <h1><%= title %></h1>
      <% if (messages.error) { %>
        <%= messages.error %>
            <% } %>
                <div class="container">
                    <form action="/save" method = "POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            
                            <input type="text" class="form-control" id = "name" placeholder="Enter name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="role">Role:</label>
                            <input type="text" class="form-control" id = "role" placeholder="Enter role" name="role" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
</body>
    <a href="/home">Back</a> 
</html>
